apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
      - name: demo-app
        image: ghcr.io/ttudalor/demo-app:latest
        ports:
        - containerPort: 3000

